{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />#}
{#<title>Untitled Document</title>#}
{% extends 'admin/index.html' %}
 {% block body %}

<body><form action="/send_reply_post" method="post">
    <table class="table table-bordeless table-striped hover">

  <tr><input type="hidden" name="cid" value="{{id}}">
    <th>Reply</th>
    <td><textarea name="textarea" id="textarea" cols="45" rows="5" class="form-control" required class="form-control"></textarea></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><div align="center">
      <input type="submit" name="button" id="button" value="Send" class="btn btn-info"/>
    </div></td>
  </tr>
</table>
</form>
</body>
{% endblock %}
