
{% extends 'user/u_index.html' %}
{% block body %}
<script>
function validatePassword() {
  if (document.getElementById('textfield2').value == document.getElementById('textfield3').value) {
    document.getElementById('message').style.color = 'green';
    document.getElementById('message').innerHTML = 'matching';
  } else {
    document.getElementById('message').style.color = 'red';
    document.getElementById('message').innerHTML = 'not matching';
  }
}
</script>
<form id="form1" name="form1" method="post" action="/user_change_password_post">
    <table class="table table-bordeless table-striped hover">
    <tr>
      <th
      >Current Password</th>
      <td><input type="password" name="textfield" id="textfield" class="form-control" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"/></td>
    </tr>
    <tr>
      <th>New Password</td>
      <td><input type="password" name="textfield2" id="textfield2" onkeyup="validatePassword();" class="form-control" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"/></td>
    </tr>
    <tr>
      <th>Confirm Password</th>
      <td><input type="password" name="textfield3" id="textfield3"class="form-control" onkeyup="validatePassword();" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"/>
       <span id='message'></span></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><input type="submit" name="button" id="button" value="Change" class="btn btn-success" /></td>
    </tr>
  </table>
</form>
{% endblock %}
