{% extends 'user/u_index.html' %}
{% block body %}

<body><form action="" method="get">
    <table class="table table-bordeless table-striped hover">

  <tr style="background:grey">

      <th>slno</th>
        <td>Date</td>
    <th>Time</th>
    <th>UserName</th>
    <th>Feesback</th>

  </tr>
    {% for i in data %}
  <tr>
    <td>&nbsp;{{ loop.index }}</td>
    <td>&nbsp;{{ i['Date'] }}</td>
    <td>&nbsp;{{ i['Time'] }}</td>
    <td>&nbsp;{{ i['Name'] }}</td>
    <td>&nbsp;{{ i['Feedback'] }}</td>
  </tr>
    {% endfor %}
</table>
</form>
</body>
{% endblock %}
