{% extends 'user/u_index.html' %}
{% block body %}

<body><form action="/Send_feedback_post" method="post">
    <table class="table table-bordeless table-striped hover">
        <tr>

    <th>Feedback</th>
    <td><textarea name="textarea" id="textarea" cols="45" rows="5"class="form-control"required></textarea></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><div align="center">
      <input type="submit" name="button" id="button" value="Send"class="btn btn-success" />
    </div></td>
  </tr>
</table>
</form>
</body>
{% endblock %}
